@import "../../styles/variables";

.container {
  width: 23rem;
  min-width: 18%;
  padding: 2rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 2px solid #2b2f54;
  border-radius: 0.5rem;

  & h3 {
    margin: 0;
    font-size: 1.1rem;
    color: $text-color;
  }
  & span {
    margin: 0.3rem 0;
    font-weight: 400;
    font-size: 2.5rem;
  }
  & small {
    font-size: 1.1rem;
  }
  &__green {
    color: #81cca6;
  }
  &__red {
    color: red;
  }
}

@media screen and (max-width: 1366px) {
  .container {
    width: 21rem;
    padding: 2rem 4rem;
  }
}

@media screen and (max-width: 1024px) {
  .container {
    width: none;
    padding: 2rem 3rem;
  }
}
